// Globals
$body-font-family: "SF Mono","Fira Code","Fira Mono","Roboto Mono",monospace;
$border-radius-root: 6px;
$font-size-root: 20px;

$colour-main: #2E3440;
$colour-text0: #ECEFF4;
$colour-text1: #D8DEE9;
$colour-accent: #88FFBB;

//$material-dark: (
//        'background': $colour-main
//);
//
//$shades: (
//        'white': $colour-text0,
//        'black': $colour-main
//)
